

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.gdi-main .navbar {
	background-color: #f95a61;
	background-image: none;
	margin-bottom: 0;
	border-bottom: none;
}

.gdi-main .navbar-brand,
.gdi-main .navbar-brand:hover {
	height: auto;
	margin-right: 50px;
	padding: 5px 10px;
	color: white;
}

.gdi-main .navbar-brand img {
	height: 100px;
	display: inline;
	margin-right: 20px;
}

.gdi-main .navbar-nav {
	margin: 0 50px 0 0;
	float: right;
}

.gdi-main .navbar-default .navbar-nav>li {
	height: 100%;
	margin: 0 3px;

}

.gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a{
    color:#ffffff;
}
.gdi-main .navbar-default .navbar-nav>li .dropdown-menu,  .gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a:hover{
    background: #282828;
    color:#fbcfc6;
}



.gdi-main .navbar-default .navbar-nav>li>a {
	padding: 45px 15px;
	color: white;
	font-style: italic;
	font-weight: 300;
	line-height: 20px;
	font-size: 16px;
}
@media (max-width:768px) {
	.gdi-main .navbar-default .navbar-nav>li>a {
		padding: 10px 15px;
	}

	.navbar-header {
		width: 150px;
		float: left;
	}
}

.gdi-main .navbar-default .navbar-nav>li>a:hover,
.gdi-main .navbar-default .navbar-nav>li.active>a, .gdi-main .navbar-default .navbar-nav>.open>a {
	background-color: #282828;
	color: #fbcfc6;
	background-image: none;
}

.gdi-main .gdi-banner {
	background-image: url(../img/GDI_Banner_Pic.png);
	background-position-x: center;
	background-repeat: no-repeat;
	height: 325px;
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 115px 0;
}

.gdi-main .gdi-logo {
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px #bbbbbb;
}

.gdi-pad-col {
    background-color: #f0e2e9;
    border-radius: 10px;
    margin: 10px;
	padding: 10px 20px;
}

.gdi-mission {
    margin-top: 20px;
}

.gdi-icon {
    height: 30px;
    margin-right: 10px;
}

.gdi-home {
    margin-top: 20px;
}

.gdi-pad-col, .gdi {
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-home .gdi-pad-col {
    background-color: #c3e2a5;
}

.gdi-links h2, .gdi-classes h2 {
	margin-left: 15px;
}

.gdi-links .gdi-pad-col, .gdi-classes .gdi-pad-col {
    background-color: #e4e9e5;
	border: none;
	transition: background, .5s;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	margin-bottom: 20px;
	min-height: 90px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}

.gdi-links .gdi-pad-col:hover, .gdi-classes .gdi-pad-col:hover {
	background-color: #fbcfc6;
}
.classes .meetup-overview {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    float: left;
    border-bottom: 1px dashed #F95A61;
}
.classes .meetup-overview h3 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: auto;
    padding: .1rem;
    line-height: 1.3rem;
}
.classes .meetup-overview h3 a {
    color: #282828;
}
.classes .meetup-overview .subtitle {
    font-weight: 400;
    color: #f95a61;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    text-transform: none;
    letter-spacing: .06rem;
    margin: .35rem 0rem;
}

.classes .meetup-map {
    float: left;
    display: block !important;
    margin-right: 3.57866%;
    width: 35.26334%;
    align: center;
    padding: 0px 15px 0 0px;
}

.classes .meetup-map p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #2d2e2e;
    line-weight: .3rem;
    line-height: 1.5rem;
}
.classes .meetup-map .button {
    background-color: #f95a61;
    color: white;
    width: 250px;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    padding:5px 10px;
    display:block;
}


.gdi-classes li, .gdi-links li {
	list-style: none;
}
.gdi-classes ul, .gdi-links ul {
	padding-left: 20px;
	clear: both;
}
.gdi-links .gdi-pad-col > ul {
	padding-left: 0;
	clear: both;
}

.gdi-classes .gdi-pad-col > ul {
	padding-left: 0;
	clear: both;
	display: none;
}

.gdi-classes .gdi-pad-col > img {
	height: 50px;
	width: 50px;
	float: left;
	margin: 10px;
	margin-left: 0;
}

.underlined-headline hr {
	width: 400px;
	border-top: 2px solid #d8ae64;
	border-bottom: 2px solid #d8ae64;
	height: 2px;
	margin-bottom: 20px;
	margin-top: 0;
}

.underlined-headline h2 {
	text-transform: uppercase;
	color: #282828;
	font-weight: 300;
	text-align: center;
	font-size: 25px;
	margin-top: 30px;
}

.footer {
	background-color: #2a4758;
	height: 64px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.social-icons {
	list-style: none;
	text-align: center;
	margin-bottom: 0;
}

.social-icons .menu-item {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid rgba(255, 255, 255, .12);
	height: 64px;
	width: 64px;
}

.social-icons .menu-item:last-child {
	border-right: 1px solid rgba(255, 255, 255, .12);
}

.social-icons .menu-item img {
	height: 22px;
	width: 22px;
	margin-top: 21px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 94px;
}

.single-profile {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 2.5em;
}

.single-profile .profile-img {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%;
    padding: 0px 15px 0 0px;
}
.single-profile .profile-img img {
    width: 100%;
    margin-top: 25px;
    box-shadow: .025rem .025rem .5rem #bdbec0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.single-profile .profile-content:last-child {
    margin-right: 0;
}

.single-profile .profile-content {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
    margin-right: 0;
}
.profile-left h3, .profile-right h3 {
    border-bottom: 1px dashed #f95a61;
    padding-bottom: 2px;
}
