

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.gdi-main .navbar {
	background-color: #f95a61;
	background-image: none;
}

.gdi-main .navbar-brand {
	height: auto;
	margin-right: 50px;
}

.gdi-main .navbar-brand img {
	height: 100px;
}

.gdi-main .navbar-nav {
	margin: 0 50px 0 0;
	float: right;
}

.gdi-main .navbar-default .navbar-nav>li {
	height: 100%;
	margin: 0 3px;

}

.gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a{
    color:#ffffff;
}
.gdi-main .navbar-default .navbar-nav>li .dropdown-menu,  .gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a:hover{
    background: #282828;
    color:#fbcfc6;
}



.gdi-main .navbar-default .navbar-nav>li>a {
	padding: 55px 15px;
	color: white;
	font-style: italic;
	font-weight: 300;
	line-height: 20px;
	font-size: 16px;
}

.gdi-main .navbar-default .navbar-nav>li>a:hover,
.gdi-main .navbar-default .navbar-nav>li.active>a, .gdi-main .navbar-default .navbar-nav>.open>a {
	background-color: #282828;
	color: #fbcfc6;
	background-image: none;
}

.gdi-main .gdi-banner {

    border-radius: 10px;
    background-color: #f7d7d9;
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-main .gdi-logo {
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px #bbbbbb;
}

.gdi-pad-col {
    background-color: #f0e2e9;
    border-radius: 10px;
    margin: 10px;
	padding: 10px 20px;
}

.gdi-mission {
    margin-top: 20px;
}

.gdi-icon {
    height: 30px;
    margin-right: 10px;
}

.gdi-home {
    margin-top: 20px;
}

.gdi-pad-col, .gdi {
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-home .gdi-pad-col {
    background-color: #c3e2a5;
}

.gdi-links h2, .gdi-classes h2 {
	margin-left: 15px;
}

.gdi-links .gdi-pad-col, .gdi-classes .gdi-pad-col {
    background-color: #e4e9e5;
	border: none;
	transition: background, .5s;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}

.gdi-links .gdi-pad-col:hover, .gdi-classes .gdi-pad-col:hover {
	background-color: #fbcfc6;
}

.gdi-classes li, .gdi-links li {
	list-style: none;
}

.gdi-classes ul, .gdi-links ul {
	padding-left: 20px;
}