

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.gdi-main .navbar {
	background-color: #f95a61;
	background-image: none;
}

.gdi-main .navbar-brand {
	height: auto;
	margin-right: 50px;
}

.gdi-main .navbar-brand img {
	height: 100px;
}

.gdi-main .navbar-nav {
	margin: 0 50px 0 0;
	float: right;
}

.gdi-main .navbar-default .navbar-nav>li {
	height: 100%;
	margin: 0 3px;

}

.gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a{
    color:#ffffff;
}
.gdi-main .navbar-default .navbar-nav>li .dropdown-menu,  .gdi-main .navbar-default .navbar-nav>li .dropdown-menu li a:hover{
    background: #282828;
    color:#fbcfc6;
}



.gdi-main .navbar-default .navbar-nav>li>a {
	padding: 55px 15px;
	color: white;
	font-style: italic;
	font-weight: 300;
	line-height: 20px;
	font-size: 16px;
}

.gdi-main .navbar-default .navbar-nav>li>a:hover,
.gdi-main .navbar-default .navbar-nav>li.active>a, .gdi-main .navbar-default .navbar-nav>.open>a {
	background-color: #282828;
	color: #fbcfc6;
	background-image: none;
}

.gdi-main .gdi-banner {

    border-radius: 10px;
    background-color: #f7d7d9;
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-main .gdi-logo {
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0 0 10px #bbbbbb;
}

.gdi-pad-col {
    background-color: #f0e2e9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.gdi-mission {
    margin-top: 20px;
}

.gdi-icon {
    height: 30px;
    margin-right: 10px;
}

.gdi-home {
    margin-top: 20px;
}

.gdi-pad-col, .gdi {
    box-shadow: 0px 0px 20px #cccccc;
    border: solid 2px #cccccc;
}

.gdi-home .gdi-pad-col {
    background-color: #c3e2a5;
}

.gdi-classes .gdi-pad-col {
    background-color: #d9e2f2;
}

.gdi-links .gdi-pad-col {
    background-color: #F7E8BB;
}


.classes .meetup-overview {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    float: left;
    border-bottom: 1px dashed #F95A61;
}
.classes .meetup-overview h3 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: auto;
    padding: .1rem;
    line-height: 1.3rem;
}
.classes .meetup-overview h3 a {
    color: #282828;
}
.classes .meetup-overview .subtitle {
    font-weight: 400;
    color: #f95a61;
    font-style: italic;
    font-weight: 400;
    font-size: .85rem;
    text-transform: none;
    letter-spacing: .06rem;
    margin: .35rem 0rem;
}

.classes .meetup-map {
    float: left;
    display: block !important;
    margin-right: 3.57866%;
    width: 35.26334%;
    align: center;
    padding: 0px 15px 0 0px;
}

.classes .meetup-map p {
    font-size: 1.025rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #2d2e2e;
    line-weight: .3rem;
    line-height: 1.5rem;
}
.classes .meetup-map .button {
    background-color: #f95a61;
    color: white;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
}














